.header {
  height: 100vh;
  width: 100%;
  padding-bottom: 60px;
  background-image: url("../img/header-bg-desk.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.header__logo {
  width: 134px;
  height: 34px;

  @media (min-width: 496px) {
    width: 166px;
    height: 42px;
  }
}

.header__name {
  margin-top: auto;
  margin-bottom: 65px;
  font-family: "Blacker";
  font-style: normal;
  font-size: 50px;
  line-height: 90.8%;
  color: #f2f2f2;

  @media (min-width: 768px) {
    font-size: 100px;
    margin-bottom: 55px;
  }

  @media (min-width: 1600px) {
    font-weight: 500;
    font-size: 200px;
    margin-bottom: 100px;
  }
}

.header__wrapper {
  display: flex;
  padding-top: 30px;

  &--widgets {
    padding-top: 0;
  }
}

.header__weather {
  margin-right: 45px;

  @media (min-width: 1600px) {
    margin-right: 90px;
  }
}
