.header {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding-bottom: 13px;
  padding-top: 12px;
  border-bottom: 1px solid $border-color;
}

.header__wraper {
  display: flex;
  z-index: 1;
}

@media (max-width: 767px) {
  .header__mobile {
    width: $mobile-widths-only;
    padding: 0 20px;
    margin: 0 auto;
  }

  .header__container {
    min-height: 39px;
  }
}

.header__menu {
  position: relative;
  border: none;
  margin-left: auto;
  margin-top: 7px;
  height: 25px;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  background-color: #ffffff;
}

.header__menu--off {
  background-image: url("../img/menu-off.svg");

  @include background (center, no-repeat);
}

.header__menu--on {
  background-image: url("../img/menu-on.svg");

  @include background (center, no-repeat);
}

.header__menu :hover {
  opacity: 0.6;
}

.header__menu :active {
  opacity: 0.3;
}

.header__menu--nojs {
  display: none;
}

@media (min-width: $tablet-widths) {
  .header__menu {
    display: none;
  }

  .header {
    border: none;
    display: flex;
    flex-direction: row;
    background-color: $header-color;
    padding-top: 22px;
  }

  .header__container {
    display: flex;
    width: $tablet-widths;
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-widths) {
  .header {
    padding-bottom: 20px;
    padding-top: 16px;
    border: none;
    min-height: 98px;
  }

  .header--index {
    margin-bottom: -134px;
    padding-top: 16px;
  }

  .header__wraper {
    z-index: 1;
    margin-right: auto;
  }

  .header__menu {
    display: none;
  }

  .header__container {
    display: flex;
    width: $desktop-widths;
    padding: 0 40px;
    margin: 0 auto;
  }
}
