.navigation {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 138px;
}

.navigation__list {
  @include list-style;
  display: flex;
  justify-content: space-around;
  width: 100%;

  @media (max-width: 911px) {
    position: absolute;
    width: 200px;
    top: 50px;
    right: 0;
    flex-direction: column;
    align-items: center;

    margin: 0;
  }

  @media (max-width: 1400px) {
    flex-direction: column;
    align-items: center;
    margin-left: 120px;
    margin-bottom: -20px;
  }

  @media (max-width: 912px) {
    display: none;
  }

  &--closed {
    @media (min-width: 912px) {
      display: flex;
    }
    display: none;
  }

  &--opened {
    display: flex;
  }
}

.navigation__item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 90.8%;
  text-align: center;
  padding: 3px;

  color: $white;
  cursor: pointer;
  transition: 0.3s;

  &:active {
    transition: 0.3s;
    opacity: 1;
  }

  &:hover {
    opacity: 0.6;
    transition: 0.3s;
  }

  @media (max-width: 911px) {
    font-size: 16px;
    padding: 5px;
    width: 100%;
    background-color: rgba(204, 49, 43, 0.6);
    margin-bottom: 5px;
  }

  @media (min-width: 1391px) {
    padding: 0;
  }
}

.navigation__contacts {
  margin-right: 20px;

  @media (max-width: 912px) {
    margin-left: auto;
  }

  @media (min-width: 912px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 120px;
    margin-right: 60px;
  }
}

.navigation__call {
  display: block;

  @media (min-width: 494px) {
    display: none;
  }
}

.navigation__tel {
  display: none;

  @media (min-width: 912px) {
    display: block;
    color: $white;
  }
}

.navigation__expert {
  margin-bottom: 17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  text-transform: none;
  letter-spacing: -0.02em;
  color: $white;

  @media (max-width: 496px) {
    display: none;
  }
}

.navigation__menu {
  cursor: pointer;
  position: relative;
}

.navigation__line {
  height: 2px;
  background-color: $white;

  &--short {
    width: 16px;
    margin-bottom: 10px;
    margin-left: 16px;
  }

  &--long {
    width: 32px;
  }
}
