.bttn {
  background-color: $white;
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-height: 40px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $red;
    color: $white;
    transition: 0.3s;
  }
}
