@font-face {
  font-family: "Blacker";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Blacker.woff2") format("woff2"), url("../fonts/Blacker.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter.woff2") format("woff2"), url("../fonts/Inter.woff") format("woff");
}
